accelerate
beautifulsoup4
bnunicodenormalizer
cryptography
evdev; sys_platform == "linux"
fastdeploy
flask
flask-cors
gdown
matplotlib
numpy
onnxruntime
opencv-python
pandas
pillow
pymongo
pyjwt
python-multipart
pytesseract
redis
requests
shapely
termcolor
torch
transformers
tqdm
ultralytics
